<%- include('_header')%>

<html>
    <head>
<title>
   <%= title%>
</title>

<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<!-- for the animated notifications -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
    <body>
        <!-- <% if(flash.success && flash.success.length > 0 ) { %>
            <h5>
                <%= flash.success %>
            </h5>
         <% } %> -->
    <div id="home-container">
        <section id="first">
        <!-- <script>console.log(locals.user);</script> -->
        <!-- <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(84, 120, 4);">Connect </h1> -->
        
            
        <% if(locals.user){ %>
        <form id = "todo-form" action="/tasks/create"   method="POST">
            <input name="task"  type="text" id="task_text" placeholder="Add-Post" required>
            <!-- <br>
            <br> -->
            <button type="submit">Post</button>
             </form>
             <% } %> 
             
            <ul class="task" id="task_list">
                <% for(i of tasks) { %>
                <li id="list">
                    
                    <!-- <a href="/check/?id=<%= i._id %>"  id="a1" name="<%= i._id %>" >
                        <% if(i.did_task) {%>
                        <i class="fa-solid fa-square-check fa-lg" style="color: #04c311;"></i>
                        <% } else {%>
                        <i class="fa-solid fa-square-xmark fa-lg" style="color: #b50303;"></i>
                        <% } %>
                    </a> -->
                    
                    <!-- <% if(i.did_task) {%>
                    <p  style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #04c311;"><%= i.task%>
                    
                      <br><%= i.user.name%>
                    </p>
                    <% } else {%>
                        <p  style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #b50303;"><%= i.task%>
                            <br><%= i.user.name%>
                        </p>
                    <% } %> -->

                    <p id="a2"><%= i.task%><br><%= i.user.name%></p>
                <!-- <div class="delete-task"> -->
                    <!--    ?task = <%= i%>  -->
                    <!-- here we are passing the id of the particular task as query 
                    inorder to delete the particular task in the database by id-->
                    <% if( (locals.user) && (locals.user.id == i.user.id) ){ %> 
                    <a href="/tasks/delete/?id=<%= i._id %>" id="a3" style="padding:25px" ><i class="fa-solid fa-trash fa-xs" style="color: #080808;"></i></a>
                     <!-- <a href="#" onclick="location.href='@Url.Action("adga")'"><i class="fa-solid fa-trash fa-xs" style="color: #080808;"></i></a> -->
                    <% } %>
                    
                </li>
                <div id="post-container">
                    
                <section class="post-comments">
                    <% if(locals.user){%>
                           <form action="/comments/create_comment" method="post">
                            <input type="text" name ="commentdata" placeholder="type a comment here..." required>
                           <input type="hidden" name="postid" value="<%= i._id%>">
                           <input type="submit" value="Add comment">
                           </form>
                     <% }%>
                </section>
                  <% if(i.comments.length > 0)  {%>
                <section id="post-comments-list">

                     <ul id="post-comments-<%= i._id %>" type="disc">
                        <% for(comment of i.comments){ %>
                             <li style="color: black;" id="com-para">
                                <%= comment.content %>
                                <% if( (locals.user) && (locals.user.id == comment.user.id) ){ %> 
                                    <a href="/comments/delete_comment/?id=<%= comment._id %>" id="com-a3" style="padding:25px" ><i class="fa-solid fa-trash fa-xs" style="color: #080808;"></i></a>
                                      <% } %>
                                      <br>
                                <small>
                                   By--  <%= comment.user.name %>
                                </small>
                            </li>
                            <br>
                        <% }%>
                     </ul>
                </section>
                    <%}%>
                </div>
                <%}%>
            </ul>
       
    </section>
    <section id="second">
            <h2 style="text-align: center;">Friends</h2>
            <% for(friend of all_users) { %>
               <p>
                <a href="/users/profile/?id=<%= friend.id %>"><%= friend.name %></a>
               </p>
            
            <% } %>
    </section>
   
  </div>
            <script>
                
                // console.log("hello");
                // after keeping <%%> this only we are getting notifications dont no why
                <% if(flash.success && flash.success.length > 0 )
                { %>
                    new Noty({
                        theme :'relax',
                        text: '<%= flash.success %>!!!',
                        type : 'success',
                        layout : 'topRight',
                        timeout : 1500
                        }).show();
               <% } %>
               
               <% if(flash.error && flash.error.length > 0 )
                { %>
                    new Noty({
                        theme :'relax',
                        text: '<%= flash.error %>!!!',
                        type : 'error',
                        layout : 'topRight',
                        timeout : 1500
                        }).show();
               <% } %>
            </script>
    </body>
    <!-- to decrease page refresh -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
   <script  src="./middle_static/home_post.js"></script>
   <!-- <script>

        $('#todo-form').submit(function(e){
            e.preventDefault();
            $.ajax({
                type:'post',
                url:'/tasks/create',
                data:$('#todo-form').serialize(),
                success:function(task){
                //    console.log(task);
                //     console.log(task.data._id);
                    var ul = $('#task_list');
                    var x = $(`
                    <li>
                    <div class="list">
                    <a href="/check/?id=${task.data._id }"  id="a1" name="${task.data._id }" >
                        <i class="fa-solid fa-square-xmark fa-lg" style="color: #b50303;"></i>
                    </a>
                        <p style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> ${task.data.task}
                            <br><%= i.user.name%>    
                        </p>
                     <a href="/task/delete/?id= ${task.data._id}" id="a1" style="padding:25px" ><i class="fa-solid fa-trash fa-xs" style="color: #080808;"></i></a>
                    </div>
                    <div class="post-comments">
                            <form action="/comments/create_comment" method="post">
                            <input type="text" name ="commentdata" placeholder="type a comment here...">
                            <input type="hidden" name="postid" value="${task.data._id}">
                            <input type="submit" value="Add comment">
                            </form>
                    </div>
                </li>                  
                     `);
                    // ul.append(x);
                    ul.prepend(x);
                    var text = $('#task_text');
                    text.val('');    
                }
            })
        });
        
    </script> -->
    
</html>